<%- include("partials/header") %>

<div class="ui piled segment">
  <h2 class="ui header"><%= blog.title %></h2>
	<!-- <img class="ui centered medium image" src="<%= blog.image %>"> -->
  <p><%= blog.body %></p>
	<h2 class="ui sub header" id="showpageDate"><%= blog.created.toDateString() %></h2>
	
	<a class = "ui basic button" href="/blogs/<%= blog._id %>/edit"> Edit </a>
	<form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" id="deleteBtn">
		<button class="ui warning button"> Delete </button>
	</form>
		
</div>

<%- include("partials/footer") %>